<?xml version="1.0"?>
<config>
	<modules>
		<Popov_Magmi>
			<version>0.1.0</version>
		</Popov_Magmi>
	</modules>

	<adminhtml>
		<translate>
			<modules>
				<Popov_Magmi>
					<files>
						<default>Popov_Magmi.csv</default>
					</files>
				</Popov_Magmi>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<popov_magmi translate="title" module="popov_magmi">
											<title>Magmi Import</title>
										</popov_magmi>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

	<global>
		<models>
			<popov_magmi>
				<class>Popov_Magmi_Model</class>
			</popov_magmi>
			<cms>
				<rewrite>
					<template_filter>Popov_Magmi_Model_Template_Filter</template_filter>
				</rewrite>
			</cms>
		</models>
		<helpers>
			<popov_magmi>
				<class>Popov_Magmi_Helper</class>
			</popov_magmi>
		</helpers>
		<template>
			<email>
				<popov_magmi_mail_notification_email_template translate="label" module="contacts">
					<label>Magmi Import Problem</label>
					<file>popov_magmi/import_problem_form.html</file>
					<type>text</type>
				</popov_magmi_mail_notification_email_template>
			</email>
		</template>
	</global>

	<default>
		<popov_magmi>
			<mail_notification>
				<enabled>0</enabled>
				<recipient_email><![CDATA[hello@example.com]]></recipient_email>
				<sender_email_identity>custom2</sender_email_identity>
				<email_template>popov_magmi_mail_notification_email_template</email_template>
			</mail_notification>
		</popov_magmi>
	</default>

	<frontend>
		<routers>
			<popov_magmi>
				<use>standard</use>
				<args>
					<module>Popov_Magmi</module>
					<frontName>magmi</frontName>
				</args>
			</popov_magmi>
		</routers>
	</frontend>

	<crontab>
		<jobs>
			<!--<popov_magmi_product_import_oodji>
				<schedule>
					<cron_expr>*/1 * * * *</cron_expr>
				</schedule>
				<run>
					<model>popov_magmi/observer::productImport</model>
				</run>
			</popov_magmi_product_import_oodji>-->

			<popov_magmi_product_import_1>
				 <schedule>
					<cron_expr>20 08 * * *</cron_expr>
				 </schedule>
				 <run>
					<model>popov_magmi/observer::productImport</model>
				 </run>
			</popov_magmi_product_import_1>

			<popov_magmi_image_import>
				<schedule>
					<cron_expr>00 22 * * *</cron_expr>
				</schedule>
				<run>
					<model>popov_magmi/observer::imageImport</model>
				</run>
			</popov_magmi_image_import>
		</jobs>
	</crontab>

	<!--
	<resources>
		<ftp>
			<connection>
				<host><![CDATA[localhost]]></host>
				<username><![CDATA[md-fashion]]></username>
				<password><![CDATA[mYnfpqL7AbFS3YZP]]></password>
			</connection>
		</ftp>
	</resources>
	-->

	<popov_magmi>
		<product_import />
		<image_import />

		<jobs>
			<product_import>
				<!-- This tag name doesn't matter. It only must be -->
				<file_not_found>
					<alter>pre</alter>
					<run>
						<helper>popov_magmi/job_fileNotFound::run</helper>
					</run>
				</file_not_found>
			</product_import>
			<image_import>
				<!-- This tag name doesn't matter. It only must be -->
				<backup_images>
					<alter>post</alter>
					<run>
						<helper>popov_magmi/job_backupImages::run</helper>
					</run>
				</backup_images>
			</image_import>
		</jobs>
	</popov_magmi>
</config>
